/*Estilos Articulo*/

$fuente-body:'Sora', sans-serif;
$colorwhite:#fff;
$colorblack:#000;

body {
	font-family: $fuente-body;
	font-weight: 300;
	font-size: 16px;
	.contenedor-3{
		width: 90%;
		max-width: 75em;
		margin: 1.25em auto;
    }
}
a{
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.articulo-main{
    background: $colorwhite;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    margin: 0.93em 0;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);	
}
.contendor-img{
    margin: 1.25em auto;
    a{
        display: inline-block;
        text-decoration: none;

    }
    figure{
        margin: 0;
        position: relative;
        transition: all ease .5s;
        transform-style: preserve-3d;
        transform: perspective(600px) rotateY(0deg);
        .img__articulo-1, 
        .atras{
           transition: all ease .5s;
        }
        .img__articulo-1{
            display: block;
            margin: 0.62em 0;
        }
        .atras{
            position: absolute;
            top: 0;
            padding: 20px;
            color: $colorwhite;
            transform: perspective(600px) rotateY(180deg);
            backface-visibility: hidden;
            overflow: auto;
            text-align: center;
            h2{
                border-bottom: 3px solid $colorwhite;
                padding: 5px;
            }
            
        }
    }
}
.contendor-img:hover figure{
    -webkit-transform:perspective(600px) rotateY(180deg) ;
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform:perspective(600px) rotateY(180deg) ;
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);

    .img__articulo-1{
        filter: blur(2px);
      }
}

.box{
    text-align: center;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    .hover{
        width: 0;
        height: 50vh;
        background-color: rgba(29, 29, 29, 0.507);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .4s all;
        h1{
            color: $colorwhite;
            text-shadow: 1px 1px 1px $colorblack;
            font-size: 1em;
            text-transform: uppercase;
        }
    }
}
.box:hover .hover{
    width: 100%;
    height: 100%;
}

.img__articulo-k{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    margin: 15px;
    box-shadow: 1px 10px 25px rgba(41, 40, 40, 0.719);
    img{
        transition: 2s;
    }
    img:hover{
        transform: translateX(-30%);
        filter: brightness(80%);
    }
}
