/*Estilos Hechos*/

$fuente-body:'Sora', sans-serif;
$colorwhite:#fff;

@mixin imagenes {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
	font-family: $fuente-body;
	font-weight: 300;
	font-size: 16px;
	.contenedor-6{
		width: 90%;
		max-width: 75em;
		margin: 1.25em auto;
    }
}
.hechos{
	background: $colorwhite;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	margin: 0.93em ;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(8, auto);
	grid-template-areas:
		'titulo1    parrafo1'
		'imagen1    parrafo1'
		'parrafo2   imagen2'
		'parrafo2   titulo2'
		'titulo3    parrafo3'
		'imagen3    parrafo3'
		'parrafo4   imagen4'
		'parrafo4   titulo4';

	.h2-hechos{
		grid-area: titulo1;
		text-align: center;
		margin: 0.62rem;
	}
	.img-hechos{
		@include imagenes;
		grid-area: imagen1;
	}
	.p-hechos{
		padding: 5em;
		grid-area: parrafo1;
		text-align: center;
	}


	.h2-hechos2{
		grid-area:titulo2;
		text-align: center;
	}
	.img2-hechos{
		@include imagenes;
		grid-area: imagen2;
	}
	.p2-hechos{
		padding: 5em;
		grid-area: parrafo2;
		text-align: center;
	}


	.h2-hechos3{
		grid-area:titulo3;
		text-align: center;
	}
	.img3-hechos{
		@include imagenes;
		grid-area: imagen3;
	}
	.p3-hechos{
		padding: 5em;
		grid-area: parrafo3;
		text-align: center;
	}


	.h2-hechos4{
		grid-area:titulo4;
		text-align: center;
	}
	.img4-hechos{
		@include imagenes;
		grid-area: imagen4;
	}
	.p4-hechos{
		padding: 4em;
		grid-area: parrafo4;
		text-align: center;
	}
	
}
@media (max-width: 1200px) {
    body{
        font-size: 15px;
    }
}
@media (max-width: 900px){
	body{
		font-size: 14px;
		
		.hechos{
			background: $colorwhite;
			box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
			margin: 0.93em ;
			display: grid;
			grid-gap: 10px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(8, auto);
			grid-template-areas:
				'titulo1    titulo1'
				'imagen1    imagen1'
				'parrafo1   parrafo1'
				'imagen2    imagen2'
				'titulo2    titulo2'
				'parrafo2   parrafo2'
				'imagen3    imagen3'
				'titulo3    titulo3'
				'parrafo3   parrafo3'
				'imagen4    imagen4'
				'titulo4    titulo4'
				'parrafo4   parrafo4';

				.p-hechos, .p2-hechos, .p3-hechos, .p4-hechos{
					padding: 10px;
				}
			}
	}
}

@media (max-width:768px){
	body{
		font-size: 13px;
	}
}
@media (max-width:600px){
	body{
		font-size: 10px;
	}
}