/*Estilos Hechos*/

$fuente-body:'Sora', sans-serif;
$colorwhite:#fff;

@mixin imagenes {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
	font-family: $fuente-body;
	font-weight: 300;
	font-size: 16px;
	.contenedor-6{
		width: 90%;
		max-width: 75em;
		margin: 1.25em auto;
    }
}
.hechos{
	background: $colorwhite;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	margin: 0.93em ;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'imagen1    parrafo1'
		'parrafo2   imagen2'
		'imagen3    parrafo3'
		'parrafo4   imagen4';

	.h2-hechos{
		text-align: center;
		margin: 0.62em;
	}

	.img-hechos{
		@include imagenes;
		grid-area: imagen1;
	}
	.hechos__contendor-parrafo1{
		margin:0 0.62em;
		grid-area: parrafo1;
		text-align: center;
	}


	.img2-hechos{
		@include imagenes;
		grid-area: imagen2;
	}
	.hechos__contendor-parrafo2{
		margin:0 0.62em;
		grid-area: parrafo2;
		text-align: center;
	}


	.img3-hechos{
		@include imagenes;
		grid-area: imagen3;
	}
	.hechos__contendor-parrafo3{
		margin:0 0.62em;
		grid-area: parrafo3;
		text-align: center;
	}


	.img4-hechos{
		@include imagenes;
		grid-area: imagen4;
	}
	.hechos__contendor-parrafo4{
		margin:0 0.62em;
		grid-area: parrafo4;
		text-align: center;
	}
	
}

@media (max-width: 900px){
	body{
		font-size: 14px;
		
		.hechos{
			background: $colorwhite;
			box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
			margin: 0.93em ;
			display: grid;
			grid-gap: 10px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(8, auto);
			grid-template-areas:
				'imagen1    imagen1'
				'parrafo1   parrafo1'
				'imagen2    imagen2'
				'parrafo2   parrafo2'
				'imagen3    imagen3'
				'parrafo3   parrafo3'
				'imagen4    imagen4'
				'parrafo4   parrafo4';
			}
	}
}
