/*Estilos galeria*/

$fuente-body:'Sora', sans-serif;
$colorwhite:#fff;
$colorblack:#000;
@mixin imagenes {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
	font-family: $fuente-body;
	font-weight: 300;
	font-size: 16px;
	.contenedor-5{
		width: 90%;
		max-width: 75em;
		margin: 1.25em auto;
    }
	.grid_section{
        background: $colorwhite;
        box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
        margin: 0.93em ;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			'texto1		img2  	texto3'
			'img1		img2 	img4'
			'texto2     img3     texto4';
        .texto-1{
			text-align: center;
			padding: 10px;	
		}
		.imagem-1{
			padding: 10px;
		}
		.div1{
			grid-area: texto1;
		}
		.imagen1{
			grid-area: img1;
			@include imagenes;
		}
		.div2{
			grid-area: texto2;
		}
		.imagen2{
			grid-area: img2;
			@include imagenes;
		}
		.div3{
			grid-area: texto3;
		}
		.imagen3{
			grid-area: img3;
			@include imagenes;
		}
		.div4{
			grid-area: texto4;
		}
		.imagen4{
			grid-area: img4;
			@include imagenes;
		}

	}
}